y
y.pub

/venv/
.venv/*
**/__pycache__/
*-env
robotouille.egg-info
/wandb
..gitignore.swp
cluster_requirements.txt
generate_slurm_scripts.py
test_robotouille_input.py
shorter_long.sub
start_experiments.sh
.DS_Store
/slurm_scripts/
/slurm_log/
/wandb/
# Ignore everything in results
/results/*

# But don't ignore the models directory
!/results/models/
!/results/sacred/

# Don't ignore specific subdirectories in models
!/results/models/ippo_seed793276739_None_2024-06-12 11:01:09.453591/
!/results/models/iql_seed169210272_None_2024-06-11 01:58:10.711980/
!/results/models/iql_seed328992167_None_2024-06-11 01:58:10.711980/
!/results/models/iql_seed760407879_None_2024-06-11 01:58:22.433870/
!/results/models/mappo_seed285368882_None_2024-06-12 11:02:13.743844/
!/results/models/qmix_seed448089844_None_2024-10-01 14:07:16.320697/
!/results/models/qmix_seed677336568_None_2024-06-11 01:58:41.601187/
!/results/models/qmix_seed731731378_None_2024-07-23 10:52:53.475030/
!/results/models/qmix_seed745741304_None_2024-08-01 18:38:31.130717/
!/results/models/qmix_seed833013653_None_2024-07-17 01:47:14.939144/
!/results/models/qmix_seed932522268_None_2024-07-17 01:47:42.559769/
!/results/models/vdn_seed244167364_None_2024-08-01 18:37:01.201155/
!/results/models/vdn_seed378083795_None_2024-07-23 10:56:15.639767/
!/results/models/vdn_seed430798315_None_2024-06-11 01:58:31.320028/
!/results/models/vdn_seed702510526_None_2024-09-03 11:09:52.451628/
!/results/models/vdn_seed743491255_None_2024-06-11 01:58:34.846117/

# Ignore everything under sacred directory except the iqi/None, ippo/None, mappo/None, qmix/None, and vdn/None structures
/results/sacred/*
!/results/sacred/iqi/
!/results/sacred/iqi/None/
!/results/sacred/ippo/
!/results/sacred/ippo/None/
!/results/sacred/mappo/
!/results/sacred/mappo/None/
!/results/sacred/qmix/
!/results/sacred/qmix/None/
!/results/sacred/vdn/
!/results/sacred/vdn/None/

# Include the specific numbered directories under results/sacred/iqi/None/
!/results/sacred/iqi/None/1/
!/results/sacred/iqi/None/2/
!/results/sacred/iqi/None/3/
!/results/sacred/iqi/None/5/

# Include the specific directories under results/sacred/ippo/None/
!/results/sacred/ippo/None/1/
!/results/sacred/ippo/None/_sources/

# Include the specific directories under results/sacred/mappo/None/
!/results/sacred/mappo/None/1/
!/results/sacred/mappo/None/2/
!/results/sacred/mappo/None/_sources/

# Include the specific directories under results/sacred/qmix/None/
!/results/sacred/qmix/None/1/
!/results/sacred/qmix/None/2/
!/results/sacred/qmix/None/3/
!/results/sacred/qmix/None/28/
!/results/sacred/qmix/None/29/
!/results/sacred/qmix/None/30/
!/results/sacred/qmix/None/_sources/

# Include the specific directories under results/sacred/vdn/None/
!/results/sacred/vdn/None/1/
!/results/sacred/vdn/None/2/
!/results/sacred/vdn/None/3/
!/results/sacred/vdn/None/4/
!/results/sacred/vdn/None/6/
!/results/sacred/vdn/None/_sources/


# Don't ignore the sacred directory and its contents
/results/models/*
/results/sacred/*
